<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col">footer</div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>


<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col-12 center-footer icons-footer">
            <a href="https://www.facebook.com/Firefighters4Nepal/" ><img src="{{'images/icons/facebook.png' | relative_url}}"></a>
        </div>
        <div class="col-12 center-footer">
            <p>www.f4n.be<br>&#9400; 2018 • Firefighters 4 Nepal <br>In samenwerking met Mirte Poelmans en Arteveldehogeschool</p>
        </div>
        <div class="col-12 center-footer images-footer">
            <a href="" ><img id="logo"src="{{'images/Logo/icon_wit_transparant.png' | relative_url}}"></a>
            <a href="" ><img id="artevelde" src="{{'images/Logo/logo_arteveldehogeschool.png' | relative_url}}"></a>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>